# Clover Sandbox Configuration
VITE_CLOVER_MERCHANT_ID=DS4FQK0J81Z21
VITE_CLOVER_PUBLIC_TOKEN=bb54ff7ea831c08ee1cc01f1acb750b
VITE_CLOVER_ENVIRONMENT=sandbox
VITE_CLOVER_API_BASE=https://apisandbox.dev.clover.com
VITE_CLOVER_ECOMM_BASE=https://scl-sandbox.dev.clover.com
