PORT=5000
MONGODB_URI=mongodb://localhost:27017/ecommerce_db
JWT_SECRET=nexuscart_jwt_secret_key_2026

# Clover Sandbox Credentials
CLOVER_MERCHANT_ID=DS4FQK0J81Z21
CLOVER_PUBLIC_TOKEN=bb54ff7ea831c08ee1cc01f1acb750b
CLOVER_PRIVATE_TOKEN=a05a0cdc-7e14-39e6-9a3c-660754e3bb35
CLOVER_ENVIRONMENT=sandbox
CLOVER_API_BASE=https://apisandbox.dev.clover.com
CLOVER_ECOMM_BASE=https://scl-sandbox.dev.clover.com
